@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif ;
}

:root {
    --light-color: #F8FAFC;
    --seccundary-color: #cfd6e4;
    --main-color: #0560ff;
}

html{
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: var(--light-color);
}

::-webkit-scrollbar-thumb {
    background: var(--seccundary-color);
    border-radius: 5px;
}

body{
    background-color: var(--light-color);;
    color: black;
}

svg{
    margin: 20vh 0 0 5vw;
    cursor: pointer;
    color: var(--main-color);
    border-radius: 50%;
    transition: .4s;
}

svg:hover{
    color: black;
    transform: rotate(180deg);
}

header{
    margin: 5vh 0 7vh 5vw;
}

header h1{
    font-size: 5rem;
    font-weight: 500;
}

header p{
    font-size: 1.3em;
    margin-top: 3.5vh;
    line-height: 1.7em;
    font-weight: 300;
}

header p a {
	color: black;
	text-decoration: underline;
}

header p a:hover {
	color: var(--main-color);
	text-decoration: none;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: start;
    margin-left: 5vw;
    margin-bottom: 10vh;
    max-width: 75vw;
}

img {
    width: auto;
    height: 18vw;
    background-repeat: repeat;
    transition: .6s;
    cursor: pointer;
}

img, figure{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

img:hover{
    filter: brightness(0.80);
}

figure {
    display: inline-block;
    position: relative;
    height: 18vw;
    box-shadow: rgba(17, 12, 46, 0.10) 0px 48px 100px 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

figure figcaption {
    display: block;
    position: absolute;
    max-height: 75%;
    min-height: 15%;
    width: 100%;
    bottom: 0vh;
    left: 0vw;
    font-size: 1rem;
    padding: 20px;
    color: black;
    font-weight: 300;
    background-color: white;
    opacity: 0.95;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

strong{
    font-weight: 500;
}

figure:hover{
    transform: scale(1.03);
    transition: .6s;
}

@media (max-width: 920px) {

    svg{
        margin: 10vh 0 0vh 5vw;
        width: 44px;
    }

    header{
        margin: 2vh 5vw 5vh 5vw;
    }

    header h1{
        font-size: 3em;
    }

    header p{
        font-size: 1em;
        margin-top: 2vh;
    }

    img {
        width: 90vw;
        height: auto;
        transition: .4s;
        cursor: pointer;
    }

    figure{
        height: auto;
    }

    figure figcaption p:nth-child(2){
        display: none;
    }

    .gallery{
        gap: 15px;
    }

    figure figcaption {
        display: block !important;
        font-size: .8em;
        padding: 20px;
    }

}

df-messenger {
    --df-messenger-bot-message: white; /* Cor do balão para mensagens do agente */
    --df-messenger-button-titlebar-color: var(--main-color); /*Cor do botão flutuante e da barra de título da caixa de diálogo do chat.*/
    --df-messenger-button-titlebar-font-color: var(--light-color); /*Cor da fonte do título na barra de título.*/
    --df-messenger-chat-background-color: var(--light-color); /*Cor do fundo.*/
    --df-messenger-font-color: black; /*Cor da fonte para mensagens.*/
    --df-messenger-input-box-color: var(--light-color); /*Cor do segundo plano da caixa de entrada de texto.*/
    --df-messenger-input-font-color: #131418; /*Cor da fonte da caixa de entrada de texto.*/
    --df-messenger-input-placeholder-font-color: #131418; /*Cor da fonte do texto do marcador na caixa de entrada de texto.*/
    --df-messenger-minimized-chat-close-icon-color: var(--light-color); /*Cor do ícone de fechamento na visualização de chat fechada.*/
    --df-messenger-send-icon: var(--main-color); /*Cor do ícone de envio na caixa de entrada de texto.*/
    --df-messenger-user-message: #E4E4E7; /*Cor do segundo plano do balão para mensagens do usuário.*/
  }  
